body {
    margin: 10px;
    padding: 5px;
    font-family: 'Segoe UI', sans-serif, Arial;
    font-size: 12px;
    color: #022d67;
}

ul, li, input {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    float: left;
}

.borders, #navigation-bar ul li:hover {
    border: 1px solid #8e9cad;
    border-radius: 3px;
    cursor: default;
}

#section-wrap {
    width: 407px;
    height: 350px;
    background: url("images/Calculator-background.png") #e1e6f6;
    border: 1px solid #586777;
}

#navigation-bar {
    width: 407px;
    height: 19px;
}

    #navigation-bar ul li {
        float: left;
        margin: 1px 2px 0 1px;
        padding: 1px 5px;
        border: 1px solid transparent;
        color: black;
    }

        #navigation-bar ul li:first-letter {
            text-decoration: underline;
        }

#calculator-body {
    width: 407px;
    height: 320px;
    padding: 11px 0 0 0;
}

#result-box {
    width: 383px;
    height: 48px;
    margin: 0 11px 0;
    text-align: right;
    background-color: #f5f8fc;
    background: -webkit-linear-gradient(#fff 0%, #e4edfa 4%, #fff 100%);
    background: -moz-linear-gradient(#fff 0%, #e4edfa 4%, #fff 100%);
    background: -o-linear-gradient(#fff 0%, #e4edfa 4%, #fff 100%);
    background: linear-gradient(#fff 0%, #e4edfa 4%, #fff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4edfa', endColorstr='#fff');
}

    #result-box input[value] {
        width: 95%;
        height: 50%;
        font-family: Consolas;
        font-size: 24px;
        text-align: right;
        line-height: 24px;
        margin-top: 6px;
        padding: 10px 4px 0 0;
        border: none;
        background: none;
        outline: 0;
    }

#bits-container {
    width: 383px;
    height: 59px;
    margin: 5px 11px 5px;
    font-family: Consolas;
    background-color: #d8e3f0;
}

    #bits-container .white-border {
        width: 381px;
        height: 57px;
        border: 1px solid white;
        border-radius: 2px;
    }

    #bits-container ul.byte-value:first-of-type {
        margin-top: 2px;
    }

    #bits-container ul.byte-value li {
        float: left;
        margin: 2px 9px 0 10px;
        line-height: 10px;
    }

    #bits-container ul.byte-position li:first-of-type {
        float: left;
        margin: 3px 32px 0 10px;
        line-height: 10px;
        color: #656565;
    }

    #bits-container ul.byte-position li:nth-of-type(2), ul.byte-position li:last-of-type {
        float: left;
        margin-left: 142px;
        color: #656565;
    }

    #bits-container ul:last-of-type li:last-of-type {
        margin-left: 148px;
    }

#num-system-wrap {
    width: 73px;
    height: 187px;
    margin: 0 5px 0 11px;
    float: left;
}

#num-system-box, #num-size-box {
    width: 71px;
    height: 89px;
    margin-bottom: 5px;
}

    #num-system-box ul, #num-size-box ul {
        margin: 3px;
    }

        #num-system-box ul li, #num-size-box ul li {
            margin: 4px;
        }

            #num-system-box ul li label, #num-size-box ul li label {
                vertical-align: top;
                font-size: 11px;
            }

#buttons-box {
    width: 312px;
    height: 187px;
    margin-right: 6px;
    float: right;
}

    #buttons-box input[type="button"] {
        width: 36px;
        height: 28px;
        font-family: 'Segoe UI', sans-serif, Arial;
        font-size: 11px;
        color: #022d67;
        border: 1px solid #8e9cad;
        border-radius: 3px;
        text-align: center;
    }

    #buttons-box ul {
        margin: -1px 4px 0 -1px;
    }

        #buttons-box ul li {
            margin-bottom: 4px;
        }

    #buttons-box input[disabled] {
        border-color: #b3c1d0;
        background-color: #d8e3f0;
    }

    #buttons-box ul:first-child li:first-child input {
        border: 1px solid #8e9cad;
        border-radius: 3px;
    }

    #buttons-box ul:last-child li:last-child input[value="="] {
        height: 60px;
        font-size: 24px;
        padding-bottom: 7px;
        background: url("images/Calc-equal-btn.png");
        background-repeat: repeat-x;
    }

    #buttons-box ul:nth-child(4) li:last-child input[value="0"] {
        width: 75px;
        position: absolute;
    }

    #buttons-box ul:nth-child(3) li input[disabled] {
        font-size: 16px;
        padding-bottom: 2px;
    }

#buttons-box input.gradient-btns {
    background: url("images/Calc-gradient-btns.png");
    background-repeat: repeat-x;
}

#buttons-box input.memory-btns {
    background: url("images/Calc-memory-btns.png");
    background-repeat: repeat-x;
}

#buttons-box input.numeral-btns {
    background: url("images/Calc-numeral-btns.png");
    background-repeat: repeat-x;
    font-size: 16px;
    text-align: center;
    padding-bottom: 2px;
}

#buttons-box input[type="button"]:not(:disabled):hover {
    background: url("images/Calc-glow-btns.png");
    background-repeat: repeat-x;
    border: 1px solid #e0c931;
}

#buttons-box ul:last-child li:last-child input[value="="]:hover {
    background: url("images/Calc-glowEql-btn.png");
    background-repeat: repeat-x;
    border: 1px solid #e0c931;
}
