body {
    background-color: #595959;
    font-family: Arial;
}

section {
    width: 500px;
}
section h1 {
    color: #a7a9b1;
    font-weight: lighter;
}

section dl dt {
    float: left;
    margin: 8px 2px;
    width: 150px;
    font-style: italic;
    color: #cbcaca;
}

section dl dd {
    margin: 2px;
    padding: 8px 150px;
    color: #a7a9b1;
}

    section dl dd span {
        color: #71b47a;
        font-size: 60px;
        line-height: 18px;
        vertical-align: top;
        margin: 0 -3px;
    }

section dl .red {
    margin: -15px 0 0 2px;
    color: red;
    font-weight: 700;
    letter-spacing: 0.5px;
}

section dl dd a {
    text-decoration: none;
}

    section dl dd a:visited {
        color: #f1e1ab;
    }

    section dl dd a:hover {
        color: #fefdea;
    }

section dl .sand {
    color: #f1e1ab;
}

section dl dd#timeInput {
    letter-spacing: 0.3px;
}

section dl #statusInput {
    color: #c66829;
    font-weight: 600;
    letter-spacing: 0.5px;
}
